body {
  background-image: url("grzanka.jpeg");
  background-repeat: repeat;
  background-size: 100%;
}

.title {
  font-size: 50px;
  color: black;
  opacity: 70%;
  text-align: center;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
}

.header {
  font-size: 50px;
  color: black;
  text-align: center;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  margin-bottom: 250px;
  background-color: rgb(45, 81, 47, 0.5);
  width: 100%;
}

.header:hover {
  background-color: rgb(45, 81, 47, 0.2);
}

div {
  text-align: center;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(237, 236, 237, 0.7);
}

th, td {
  padding: 20px;
  border: none;
}

td {
  border: none;
}

th {
  height: 70px;
  border: none;
}

.name {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 30px;
}

.name:hover {
  font-size: 35px;
  color: rgb(45, 81, 47);
}

.description {
  font-size: 20px;
  color: black;
  font-style: oblique;
  font: Helvetica, sans-serif;
}

.heading {
  color: #511f2d;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 45px;
}

.parent {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.foodtypes {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 30px;
  display: inline-block;
}

hr {
  color: rgb(45, 81, 47);
  height: 8px;
  background-color: rgb(45, 81, 47);;
  width: 90%;
}

footer {
  background-color: rgb(45, 81, 47, 0.5);
  color: white;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 0px;
}

.footercontainer {
  margin-top: 30px;
  margin-bottom: 0px;
}



.carousel-wrapper{
  height:600px;
  position:relative;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 70px;
  width: 80%;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.9s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('slide1.jpeg');
  background-size:cover;
  }
.item-2{
  background:url('slide22.jpeg');
   background-size:cover;
}
.item-3{
  background:url('slide3.jpeg');
   background-size:cover;
}

.item-4{
  background:url('slide4.jpeg');
  background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
}

.slideshow {
  background-color: black;
}

.home {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 30px;
}
